---
import ServiceCard from "./ServiceCard.astro";
import { FaLaptopCode, FaBolt, FaRocket } from "react-icons/fa";
---

<section class="site-container mt-14 mx-auto max-w-6xl px-4">
  <div class="mb-10 flex items-center gap-4">
    <div
      class="h-1.5 flex-1 rounded-lg bg-[#7836cf] drop-shadow-[2px_2px_0_#0debd8]"
    ></div>

    <h2
      class="text-4xl font-bold text-white drop-shadow-[2px_2px_0_#7836cf]"
    >
      What I Do
    </h2>
  </div>

  <div class="mt-10 grid gap-6 md:grid-cols-3">
    <ServiceCard
      icon={FaLaptopCode}
      title="Responsive Web Development"
      description="Building modern, responsive, and mobile-friendly websites with clean design and optimized performance."
    />

    <ServiceCard
      icon={FaBolt}
      title="Frontend Development"
      description="Creating interactive and user-friendly interfaces using modern web technologies and best UI practices."
    />

    <ServiceCard
      icon={FaRocket}
      title="Backend Development"
      description="Developing efficient server-side functionality, APIs, and database integration for scalable web applications."
    />
  </div>
</section>