---
const technologies = [
  "HTML5",
  "CSS3",
  "javaScript",
  "typeScript",
  "react",
  "astro",
  "tailwindcss",
  "nodejs",
  "mysql",
  "supabase",
  "git",
  "bash",
];
---

<section class="site-container mt-16 mx-auto max-w-6xl px-4">
  <div class="mb-10 text-center">
    <h2
      class="text-4xl font-bold text-white drop-shadow-[2px_2px_0_#7836cf]"
    >
      Technologies
    </h2>

    <div
      class="mx-auto mt-4 h-1.5 w-40 rounded-lg bg-[#7836cf] drop-shadow-[2px_2px_0_#0debd8]"
    ></div>
  </div>

  <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {
      technologies.map((tech) => (
        <div
          class="rounded-2xl bg-gray-900 p-6 text-center shadow-lg border border-transparent hover:border-[#7836cf] transition-all duration-300"
        >
          <img
            src={`${import.meta.env.BASE_URL}svg/${tech}.svg`}
            alt={tech}
            class="mx-auto h-16 w-16 object-contain"
          />

          <h3 class="mt-4 text-xl font-bold text-white">
            {tech.charAt(0).toUpperCase() + tech.slice(1)}
          </h3>
        </div>
      ))
    }
  </div>
</section>