---
import Layout from "../layouts/Layout.astro";
import MiFoto from "../assets/img/vishal.png";
import CopyMail from "../components/links/copyMail.jsx";

const links = [
  {
    href: "https://www.linkedin.com/in/vishaalrawal448",
    label: "LinkedIn",
  },
  {
    href: "https://github.com/vishallrawal",
    label: "GitHub",
  },
  {
    href: "mailto:vishalrawal448@gmail.com",
    label: "Email",
  },
];
---

<Layout title="Contact" description="Contact Vishal Rawal">
  <section
    class="bg-gray-900 flex min-h-screen flex-col items-center justify-center px-6"
  >
    <div class="mb-2 mt-11">
      <div class="relative flex items-center justify-center">
        <img
          src={MiFoto.src}
          alt="Vishal Rawal"
          class="border-primary h-32 w-32 rounded-full shadow-lg"
        />

        <svg
          viewBox="0 0 200 200"
          class="animate-spin-slow absolute h-48 w-48"
        >
          <path
            id="circlePathText"
            d="M100,100 m-77,0 a77,77 0 1,1 154,0 a77,77 0 1,1 -154,0"
            fill="none"
          ></path>

          <text fill="#69c7c7" font-size="18" font-weight="bold">
            <textPath href="#circlePathText" startOffset="0%">
              ✦ Open for Opportunities ✦ Let's Connect!
            </textPath>
          </text>
        </svg>
      </div>
    </div>

    <CopyMail client:visible />

    <div class="w-full max-w-xl space-y-4">
      {
        links.map((link) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="block w-full rounded-lg bg-primary px-6 py-3 text-center font-bold text-white transition hover:bg-secondary drop-shadow-[2px_2px_0_#0debd8]"
          >
            {link.label}
          </a>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .animate-spin-slow {
    animation: spin 25s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
</style>